.cardContainer {
  @apply shadow-all-round hover:shadow-all-round-strong transition-all duration-200 rounded-lg cursor-pointer bg-white overflow-hidden;
}

.noteDetails {
  @apply py-3 px-4 flex flex-col gap-2 shadow-all-round;
}

.noteDetails span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @apply font-semibold text-sm;
}

.noteDetails span:last-child {
  color: #888888;
  @apply text-[10px] font-bold;
}

.cardContainer div:last-child {
  @apply px-4 py-2 flex items-center justify-between;
}
