.demoVideoContainer {
  @apply flex flex-col md:flex-row gap-4 justify-between w-full;
}

.textContainer {
  /* display: flex;
  flex-direction: column;
  gap: 8px; */
  @apply flex flex-col gap-0 md:gap-4 max-w-full md:max-w-[40%];
}

.textHeading {
  @apply font-bold text-base md:text-[30px] md:max-w-[60%] max-w-full leading-10;
}

.textDescription {
  color: #464646;
  @apply text-sm font-medium;
}

.videoContainer {
  @apply bg-[#8364cb6a] rounded-xl h-[150px] md:h-[300px] w-full max-w-[580px];
}
