.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 400px));
    gap: 20px;
}

@media only screen and (max-width: 821px) {
    .cardContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 576px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }
}
