.heading_top {
  @apply sm:text-[18px] sm:leading-[28px] text-[12px] leading-[18px];
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #757575;
}

.heading {
  @apply sm:text-[32px] sm:leading-[48px] text-[18px] leading-[26px];
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  color: #1b2124;
}

.card {
  @apply sm:p-[28px] p-[12px] sm:w-[536px] w-full sm:min-h-[256px];
  border-radius: 8px;
  border: 1px solid #eaecef;
  background: rgba(248, 248, 248, 0.6);
}

.card_heading {
  @apply sm:text-[24px] sm:leading-[32px] text-[16px] leading-[22px] font-[500] my-auto sm:pl-10 pl-5 text-[#1B2124];
}

.card_sub_heading {
  @apply sm:text-[16px] sm:leading-[24px] text-[14px] leading-[22px] font-[500] sm:pt-6 pt-3 text-[#3D3D3D];
}
