.cardContainer {
  @apply flex lg:items-center gap-10 lg:gap-5 overflow-x-auto px-2 py-6 flex-col lg:flex-row;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cardContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
