.searchContainer {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 0px 6px #00000029;
  border-radius: 10px;
  @apply flex items-center justify-between p-4 w-[80%] mx-auto md:mx-0 md:w-[35%];
}

.lectureContainer {
  @apply grid gap-5;
}
