.videoContainer {
  @apply pb-[20px] flex gap-4;
  /* @apply lg:flex lg:items-center grid grid-flow-col overflow-x-auto gap-4 px-1.5 py-2; */
}

.videoContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.videoContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
