.videoContainer {
  display: grid;
  grid-template-columns: repeat(2, 224px);
  gap: 16px;
  gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: 224px;
  overflow-x: auto;
  padding: 8px 6px;
}

.videoContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.videoContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
