.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(324px, 400px));
  gap: 20px;
}

@media (width < 821px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width < 576px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.liveBatchCardContainer {
  @apply flex items-center overflow-x-auto p-2  md:grid md:grid-cols-4 gap-4 md:gap-5;
}

.liveBatchCardContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.liveBatchCardContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
