.shape {
  width: 0;
  height: 0;
  border-right: 8px solid #46b586;
  /* border-right: 8px solid red; */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-right: -1px;
}

.cardContainer {
  @apply rounded-xl w-full relative;
}
.cardVariantChip {
  @apply absolute -top-3 left-3 py-2 px-4 rounded-lg text-[12px] font-bold bg-white text-black flex items-center gap-2;
}


.cardDescriptionContainer {
  @apply border-b pt-8 pb-4 border-b-indigo-100 px-2 md:px-4 flex flex-col gap-2;
}

.batchTitle {
  @apply font-bold text-2xl max-w-[60%] truncate;
}

.iconsContainer {
  @apply flex items-center gap-4;
}
