.selfPacedBanner {
  height: 103px;
  @apply p-2;
}

.selfPacedBanner img {
  @apply rounded-lg h-full bg-[#353277] w-full object-contain;
}

.liveBatchBanner {
  height: 123px;
  margin-bottom: 10px;
}

.liveBatchBanner img {
  @apply h-full object-contain bg-[#353277] rounded-t-lg w-full;
}

.videoDescriptionContainer {
  @apply flex flex-col gap-2 px-3 pb-2;
}

.liveBatchDetail {
  @apply flex items-center justify-between text-[10px] font-bold;
}

.liveBatchDetail span:first-child {
  @apply text-[#8364cb];
}

.liveBatchDetail span:last-child {
  @apply text-[#EB427E];
}

.progressBar {
}

.videoTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @apply font-semibold text-sm;
}

.selfPacedTitle {
  @apply font-semibold text-sm w-full truncate;
}

.timestamp {
  @apply text-[10px] font-bold text-[#888888] flex items-center justify-between;
}
