.selfPacedBanner {
  @apply p-2 pb-0 rounded-lg relative h-[69px] md:h-[103px];
}

.selfPacedBanner img {
  @apply rounded-lg h-full bg-[#353277] w-full object-contain;
}

.videoDescriptionContainer {
  @apply flex flex-col gap-2;
}

.progressBar {
}

.videoTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.timestamp {
  @apply flex items-center justify-between;
}
