.table_heading {
  @apply py-2 bg-white border-x border-t sm:text-[24px] sm:leading-[32px] align-top text-[18px] leading-[26px];
  font-weight: 600;
  color: #3d3d3d;
}

.table_sub_heading_grey {
  @apply sm:text-[18px] sm:leading-[28px] border-collapse align-top text-[16px] leading-[24px];
  background: #eaecef;
  font-weight: 700;
  border: 1px solid #d9dce1;
  color: #1b2124;
}
.table_sub_heading_grey > tr > td {
  border: 1px solid #d9dce1;
  padding: 10px;
}

.table_sub_heading {
  @apply sm:text-[18px] sm:leading-[28px] align-top  text-[14px] leading-[22px];
  font-weight: 700;
  background: #fff;
  color: #1b2124;
  padding: 10px;
}

.table_text {
  @apply sm:text-[16px] sm:leading-[24px] align-top  text-[14px] leading-[22px];
  color: #757575;
  background: #fff;

  border: 1px solid #d9dce1;
  padding: 12px 10px;
}

.tab_section {
  @apply py-4 bg-[#FCFCFC];
}

.tab_heading {
  @apply sm:text-[24px] sm:leading-[32px] text-[18px] leading-[26px] mb-5 sm:text-left text-center;
  font-weight: 500;
  color: #1b2124;
}

.list_disc {
  list-style-type: disc;
  margin-top: 16px;
  margin-left: 16px;
}
