.headerContainer {
  @apply flex items-center justify-between w-full;
}

.username {
  background-image: url('../../../../assets/images/underline.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 16px;
  background-size: contain;
}
