.mainContainer {
  background-color: #f8f8f8;
  width: 100%;
}
.container {
  @apply sm:block hidden;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 60px;
}
.icon_container {
  border-width: 1px;
  border-color: #e4e7ea;
  border-radius: 6px;
  width: 197px;
  height: 48px;
  display: flex;
  align-items: center;
}

.icon_container_active {
  background-color: white;
}

.icon_container_disabled {
  background-color: #E4E7EA;
}

.linecss {
  border: 1px solid black;
  opacity: 0.2;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-bottom: 10px;
}
.logout_text {
  font-size: 16px;
  font-weight: 700;
}
.step_text_complete {
  @apply text-[#1B7938] sm:text-[12px] text-[10px];
}
.step_text_disabled {
  @apply text-[#757575] sm:text-[12px] text-[10px];
}
.step_text_active {
  @apply text-[#5A4BDA] sm:text-[12px] text-[10px] font-[600];
}
.step_img {
  @apply mx-2 sm:w-[32px] w-[20px];
}
.step_icon_text {
  @apply sm:text-[14px]  text-[10px];
}

.text_disabled {
  @apply text-[#757575];
}

@media (min-width: 320px) and (max-width: 480px) {
  .icon_container {
    border-width: 1px;
    border-color: #e4e7ea;
    border-radius: 6px;
    width: 98px;
    height: 48px;
    padding-top: 3px;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .step_img {
    padding-bottom: 5px;
  }

  @media (max-width: 425px) {
  }
  @media (max-width: 375px) {
  }
  @media (max-width: 320px) {
  }
}
